@font-face {
    font-family: 'open-sans';
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

body{
    font-family: 'open-sans', arial, sans-serif;
    color: #666;
    line-height: 2;
}

a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9f;
}

a:hover{
    border-bottom: transparent;
}

p{
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 15px;
}

sub, sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code{
    background: #f7f7f7;
    border-radius: 0.35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "courier new", monospace;
    color: #929292;
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

li{
    padding-left: 0.5em;
}

.ul-alternate{
    list-style-type: none;
    padding: 0;
}

.ul-alternate li{
    border-bottom: 2px solid rgb(214, 213, 213);
    padding: 0;
}

.ul-alternate li:last-child{
    border: 0;
}

.ul-icons{
    list-style-type: none;
    padding-left: 0;
}

.ul-icons li{
    display: inline-block;
    font-size: 2.5em;
    color: #49bf9d;
}

input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea, select {
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

input[type="radio"], input[type="checkbox"]{
    width: auto;
}

textarea{
    height: 10em;
}

input:focus, textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}

.main-header{
    /* background-color: orange; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 45px 54px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 25px;
    line-height: 1.5;
    color: white;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
}

.main-header-title strong{
    color: white;
    font-weight: normal;
}

.main-header-link{
    color: inherit;
}

.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    /* background-color: yellow; */
    width: 65%;
    margin-left: 35%;
    padding: 124px 52px 72px;
    box-sizing: border-box;
}

/* Grid */

.row{
    overflow: auto;
}

.col-2{
    width: 49%;
    float: left;
}

.col-2:first-child{
    margin-right: 1%;
}

.col-2:last-child{
    margin-left: 1%;
}

.col-2_3{
    /* background: red; */
    width: 65%;
    float: left;
}


.col-1_3{
    /* background: blue; */
    width: 32%;
    margin-left: 3%;
    float: left;
}


.button-default{
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    font-size: 0.8em;
    width: auto;
    transition: all .35s;
    cursor: pointer;
}

.button-default:hover{
    background-color: #5ddeb9;
    border-color: transparent;
}

.button-default-stroke{
    background-color: white;
    color: #49bf9d;
    border-color: #efefef;
}

.button-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.button-small{
    font-size: .65em;
}

.button-big{
    font-size: 1em;
}

.button-full{
    width: 100%;
    text-align: center;
    display: block;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table td{
    padding: 0.75em;
}

.table th{
    background: #ccc;
    padding: 0.75em;
}

.table tbody tr:first-child{
    border-top: 2px solid #666;
}

.table tbody tr:last-child{
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even) td{
    background: rgb(233, 229, 229);
}

.table tbody tr td{
    border-bottom: 1px solid #ccc;
}

.table-alternate tbody td{
    border: 1px solid #ddd;
}

.table-alternate tbody tr:first-child, .table-alternate tbody tr:last-child{
    border: 1px solid #ddd;
}

img{
    max-width: 100%; /* maximo da propria imagem */
}

.recent-works-card img{
    border-radius: 5px;
}

.main-header-link img{
    border-radius: 50%;
    overflow: hidden;
}

.imagem-link{
    border: 0;
}

.gallery-img img{
    width: 100%;
    margin-bottom: 2%;
}

.gallery-thumb img{
    margin: 0;
    display: inline-block;
    margin-bottom: 2%;
    border-radius: 5px;
}

.gallery-thumb .col-1_3:nth-child(3n -1){
    margin: 0 2%; 
}

.main-footer{
    position: fixed;
    bottom: 0px;
    width: 35%;
    left: 0;
    padding: 0px 54px 72px 0px;
    box-sizing: border-box;
    text-align: right;
}